.component__hero {
  height: 600px;
  text-align: center;
  background-color: lightgrey;
  &--container {

  }
  &--row {

  }
  &--col {
    &.col-left {
      height: 600px;
      background-image: url("../../img/hero-bg.jpg");
      background-position: center center;
      padding-left: 0px;
      padding-right: 0px;
      .hero-overlay {
        height: 100%;
        color: white;
        text-align: left;
        background-color: transparentize($brand-blue, .2);
        display: flex;
        .hero-copy-container {
          align-self: center;
          .hero-header {
            font-size: 46px;
            font-weight: 700;
          }
          .text-decorate {
            border-bottom: 6px solid white;
            width: 28%;
            float: left;
          }
          .hero-subcopy {
            font-size: 16px;
            font-weight: 500;
            margin-top: 50px;
          }
        }
        @extend .section-padding;
      }
    }
    &.col-right {
      background-color: white;
      .hero-sidebar-copy-container {
        margin-top: 60px;
        .hero-sidebar-header {
          color: $brand-blue;
          font-size: 36px;
          font-weight: 700;
        }
        .text-decorate-sidebar {
          border-bottom: 4px solid $brand-green;
          width: 12%;
        }
        .hero-sidebar-button-container {
          display: block;
          margin-top: 60px;
          button {
            width: 100%;
            margin: 20px 0;
            box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.12);
          }
        }
      }
      @extend .section-padding;
    }
  }
}